@import "tailwindcss";
@config "../tailwind.config.js";

body{
    font-family: "OpenDyslexic", "monospace";
    @apply bg-primary
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('/fonts/OpenDyslexic3-Regular.ttf') format('truetype'); /* or 'opentype' if .otf */
  font-weight: 400;
  font-style: normal;
}

.sideBarMenuItem:hover{
    background: linear-gradient(270deg,
    black 18%,
    rgba(255, 0, 0, 0)   92%
  );
}

/* global.css or wherever you define custom styles */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
